.create-game{
    background-image: url(../assets/images/backgroundphoto.jpg);
    background-size: cover;
    background-attachment: fixed;
}
.game-page{
    animation: change 10s infinite;
}
@keyframes change{
    0%{background-color: #1abc9c;}
    25%{background-color: #2ecc71;}
    50%{background-color: #3498db;}
    75%{background-color: #9b59b6;}
    100%{background-color: #e74c3c;}
}
.content{
    background: rgba(0,0,0,0.5);
    width: 50%;
    padding: 40px;
    margin: 100px auto;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    height: 500px;
}
p{
    font-size: 25px;
    color: white;
}
#highscores{
    background-color: hotpink;
}
#discord{
    background-color: #00cc96;
}
#title{
    text-align: center;
}

#timer{
    visibility: hidden;
    float: right;
    font-weight: bold;
    margin: 20px 50px;
}
/* title of website  */
p{
    color: black;
    font-family: 'Press Start 2P', cursive;
    font-weight: bolder;
    text-shadow: -1px 0 hotpink, 0 1px hotpink, 1px 0 hotpink, 0 -1px hotpink; 
    font-size: xx-large;
}
/* .startBtn{
    
}
.center-card{
    
} */

#questions{
    color:white;
}

#questions h1{
    color:white;
}
.high-score-list{
    background-color: clear;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 200px;
    text-align: center;
    font-family: 'Press Start 2P', cursive;
    font-weight: bolder;
    font-size: xx-large;
    color: hotpink;
    text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
}
.high-score-1{
    background-color: ;
    margin-left: 30%;
    margin-right: 30%;
    margin-top: 25px;
    text-align: center;
    font-family: 'Press Start 2P', cursive;
    font-weight: bolder;
    font-size: x-large;
    color:hotpink;
    text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
}
.new-game-btn{
    margin-top: 15px;
}